*{
	margin:0;
	padding:0;
}

.body-chamado
{
	width:max-content;
	margin-top:14px;
	padding:14px;
	
}

.container-head
{
	color:#ffffff;
	padding:8px;
	background-color: #000000;
	border:1px solid black;
}

.chamado
{
	width:500px;
	padding:8px;
	border:1px solid black;
}